.progress {
    width: 100%;
    height: 0.5rem;
    border-radius: 0.75rem;
    background-color: var(--fill-active);
    overflow: hidden;
}

.track {
    height: 100%;
    background-color: var(--progress);
}
