.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
}

.card-wrapper {
    text-decoration: none;
}

.card-header {
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.title {
    font-weight: 700;
}

.card-wrapper:hover .title {
    text-decoration: underline;
}

.tldr {
    font-size: 14px;
}
