.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.text-muted {
    color: var(--text-muted);
}

.text-overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.gap-xxs {
    gap: 0.25rem;
}

.gap-xs {
    gap: 0.5rem;
}

.gap-s {
    gap: 0.75rem;
}

.gap-m {
    gap: 1rem;
}

.gap-l {
    gap: 1.25rem;
}
