.layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content {
    padding: 1rem;
    padding-bottom: 3rem;
    overflow: auto;
}