.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
