.card {
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--border-subtle);
    border-radius: 0.75rem;
    background: var(--bg-card);
}

.card-header {
    font-size: 14px;
}

.card-content {
    justify-self: flex-end;
}
