.button-wrapper {
    display: flex;
}

.button {
    flex: 1;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
    background: transparent;
    border: none;
    border-radius: 0.75rem;
    color: var(--text-primary);
    text-align: start;
    text-decoration: none;
    font-size: 14px;
}

.is-active .button {
    background: var(--fill-active);
}

.button:hover {
    background: var(--fill-hover);
}

.button.pro {
    border-color: var(--pro);
    color: var(--pro);
}

.button.con {
    border-color: var(--con);
    color: var(--con);
}
