.button-wrapper {
    display: flex;
}

.button {
    flex: 1;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
    background: transparent;
    border: none;
    border-radius: 0.75rem;
    color: var(--text-primary);
    text-align: start;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.primary,
.icon {
    background: transparent;
    border: none;
}

.is-active .primary,
.is-active .icon {
    background: var(--fill-active);
}

.primary:hover,
.icon:hover {
    background: var(--fill-hover);
}

.secondary {
    background: var(--bg-card);
    border: 1px solid var(--border-active);
}

.is-active .secondary {
    background: var(--border-active);
}

.secondary:hover {
    background: var(--fill-hover);
}

.icon {
    padding: 0.25rem;
}